{{#form 'contact'}}
<div class="form-group">
  <label class="text-black" for="fname">Name</label>
  <input type="text" class="form-control" id="name" name="name" placeholder="Your name">
  <div class="error {{#ifCond errors.name '===' undefined}} d-none {{/ifCond}}">
    <p class="error-message">{{errors.name}}</p>
</div>
</div>
  <div class="form-group">
    <label class="text-black" for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Your e-mail">
    <div class="error {{#ifCond errors.email '===' undefined}} d-none {{/ifCond}}">
      <p class="error-message">{{errors.email}}</p>
  </div>
  </div>

  <div class="form-group mb-5">
    <label class="text-black" for="message">Message</label>
    <textarea class="form-control" id="message" name="message" cols="30" rows="5" placeholder="Message"></textarea>
    <div class="error {{#ifCond errors.message '===' undefined}} d-none {{/ifCond}}">
      <p class="error-message">{{errors.message}}</p>
  </div>
  </div>

  <button type="submit" class="btn btn-primary-hover-outline">Send Message
    {{{component "loader"}}}
  </button>

  <div class="wpcf7-response-output {{#ifCond error '!==' undefined}} d-block {{/ifCond}}" aria-hidden="true">
    <div class="error">
        <p class="error-message">{{error}}</p>
    </div>
</div>

  {{/form}}