<!-- Start Product Section -->
<div class="product-section">
    <div class="container">
        <div class="row">

            <!-- Start Column 1 -->
            <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
                              {{#widgets section.widgets}}
    {{#ifCond widget.type '==' 'product-tag'}}
        <{{widget.tag}}>{{widget.settings.text}}</{{widget.tag}}>
    {{/ifCond}}
    {{#ifCond widget.type '==' 'product-description'}}
        <{{widget.tag}}>{{widget.settings.text}}</{{widget.tag}}>
    {{/ifCond}}
{{/widgets}}
                <p><a href="/shop" class="btn">Explore</a></p>
            </div>
            <!-- End Column 1 -->

            {{#iterate featured_products}}

            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="/product/{{current.slug}}">
                    <img src="{{current.image.main}}" class="img-fluid product-thumbnail">
                    <h3 class="product-title">{{current.name}}</h3>
                    <strong class="product-price">{{{product_price current}}}</strong>

                    <span class="icon-cross">
                        <img src="{{asset_url}}/images/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
            {{/iterate }}


        </div>
    </div>
</div>
<!-- End Product Section -->